.main{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.form-content{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
label{
    font-size: 20px;
    margin-right: 10px;
}
.form-content-input{
    padding: 5px 100px;
}


.submit-btn{
    margin: 40px 500px;
    border: none;
    background-color: blue;
    color: white;
    padding: 5px;
    width: 70px;
}